@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'OriNewFont';
    src: url('./fonts/oriNewFont-VF(2).woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
  }
  